* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background: linear-gradient(0deg, #6565e7, #af67e9);
}

button,
a {
  cursor: pointer;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 0;
}

h1 {
  font-size: 2.25rem;
}

ul {
  list-style: none;
}

.card {
  width: 90%;
  background: #fff;
  border-radius: 1.5rem;
  position: relative;
  margin: 0 auto;
  margin-top: 6.25rem;
}
.card-group {
  position: relative;
}
@media (min-width: 768px) {
  .card {
    margin-top: 0;
    min-width: 50rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .card {
    width: 68.75rem;
  }
}
.card__image-mobile {
  position: absolute;
  top: -6.875rem;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.card__image-mobile--principal {
  left: -1.625rem;
}
.card__image-mobile--pattern {
  top: 0;
}
@media (min-width: 768px) {
  .card__image-mobile-group {
    display: none;
  }
}
.card__image-desktop {
  display: none;
}
.card__image-desktop-group {
  overflow: hidden;
}
.card__image-desktop--principal {
  position: absolute;
  margin: auto;
  margin-top: -11.875rem;
  left: -5rem;
  z-index: 3;
}
.card__image-desktop--pattern {
  z-index: 1;
  position: absolute;
  margin: auto;
  margin-top: -34.6875rem;
  left: -35rem;
}
@media (min-width: 768px) {
  .card__image-desktop {
    display: initial;
  }
}
.card__content {
  margin: 8.75rem 1.5rem 5rem;
  padding-bottom: 4rem;
}
.card__content h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .card__content {
    margin: 5rem 2.5rem 7.5rem 0;
    width: 40%;
    padding-bottom: 0;
  }
  .card__content h1 {
    text-align: start;
  }
}
@media (min-width: 1440px) {
  .card__content {
    margin: 5rem 5.625rem 7.5rem 0;
    width: 40%;
  }
}

.image-box {
  display: none;
  position: absolute;
  margin-top: 12.7rem;
  left: -5.625rem;
  z-index: 9;
}
@media (min-width: 768px) {
  .image-box {
    display: initial;
  }
}

.accordion__item {
  border-bottom: 1px solid #e7e7e9;
  padding: 1rem 0 0.5rem 0;
}
.accordion__title {
  width: 100%;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.625rem;
  color: #1d1e35;
  transition: color 0.3s;
}
.accordion__title:hover {
  color: #f47c57;
}
.accordion__title--active {
  font-weight: 900;
}
.accordion__title .arrow--show {
  animation: rotate 0.5s;
  animation-fill-mode: forwards;
}
.accordion__title .arrow--hide {
  animation: rotateInverse 0.5s;
  animation-fill-mode: forwards;
}
.accordion__text {
  width: 90%;
  color: #787887;
  line-height: 1.125rem;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-out, margin 0.3s;
}
.accordion__text--show {
  opacity: 1;
  height: auto;
  margin-bottom: 1rem;
}

@keyframes rotate {
  to {
    transform: rotate(180deg);
  }
}
@keyframes rotateInverse {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.footer {
  margin-top: 1.5rem;
  color: #fff;
}
.footer a {
  color: #000;
  font-weight: 900;
  transition: opacity 0.2s;
}
.footer a:hover {
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
