.card {
	&-group {
		position: relative;
	}

	width: 90%;
	background: $color-white;
	border-radius: rem(24);
	position: relative;
	margin: 0 auto;
	margin-top: rem(100);

	@include desktop-sm {
		margin-top: 0;
		min-width: rem(800);
		overflow: hidden;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	@include desktop-xl {
		width: rem(1100);
	}

	&__image {
		&-mobile {
			position: absolute;
			top: rem(-110);
			margin: 0 auto;
			left: 0;
			right: 0;

			&--principal {
				left: rem(-26);
			}

			&--pattern {
				top: 0;
			}

			@include desktop-sm {
				&-group {
					display: none;
				}
			}
		}

		&-desktop {
			display: none;

			&-group {
				overflow: hidden;
			}

			&--principal {
				position: absolute;
				margin: auto;
				margin-top: rem(-190);
				left: rem(-80);
				z-index: 3;
			}

			&--pattern {
				z-index: 1;
				position: absolute;
				margin: auto;
				margin-top: rem(-555);
				left: rem(-560);
			}

			@include desktop-sm {
				display: initial;
			}
		}
	}

	&__content {
		margin: rem(140) rem(24) rem(80);
		padding-bottom: 4rem;

		h1 {
			text-align: center;
			margin-bottom: rem(24);
		}

		@include desktop-sm {
			margin: rem(80) rem(40) rem(120) 0;
			width: 40%;

			padding-bottom: 0;

			h1 {
				text-align: start;
			}
		}

		@include desktop-xl {
			margin: rem(80) rem(90) rem(120) 0;
			width: 40%;
		}
	}
}

.image-box {
	display: none;
	position: absolute;
	margin: auto;
	top: 40%;
	left: rem(-90);
	z-index: 9;

	@include desktop-sm {
		display: initial;
	}
}
