$color-pink: hsl(273, 75%, 66%);
$color-purple: hsl(240, 73%, 65%);
$color-white: #fff;

$color-gray-100: hsl(240, 5%, 91%);
$color-gray-400: hsl(240, 6%, 50%);
$color-gray-600: hsl(237, 12%, 33%);
$color-gray-800: hsl(238, 29%, 16%);

$color-orange-400: hsl(14, 88%, 65%);

$desktop-sm: 768px;
$desktop-md: 900px;
$desktop-xl: 1440px;
